@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
header {
  height: 120px;
  background-color: black;
  color: white;
  margin: 0; }
  header div h1 {
    margin-top: 0;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px; }

.navbar-inverse {
  display: flex;
  justify-content: center;
  border-radius: 0px; }

/*----------------------------------------- start home styles -----------------------------------------------------*/
.search {
  height: 120px;
  margin-top: 80px;
  margin-bottom: 30px; }

.events {
  background-color: black;
  border-radius: 10px;
  padding-top: 10px;
  margin-bottom: 50px; }
  .events h1 {
    padding-bottom: 20px;
    padding-left: 20px;
    color: white; }

footer {
  margin-top: 100px;
  height: 150px;
  background-color: black;
  color: white; }
  footer ul {
    padding-top: 30px;
    list-style: none;
    display: flex;
    justify-content: center; }
    footer ul li {
      display: inline;
      padding-right: 30px;
      font-size: 15px;
      font-weight: bold; }
      footer ul li a {
        text-decoration: none; }

body {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  font-family: 'Roboto', sans-serif; }

.thumbnail {
  position: relative; }

.thumbnail img {
  height: 200px;
  background-size: cover;
  background-position: center center; }

.caption h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.imageContainer {
  width: 100%;
  margin-bottom: 20px; }

@media (max-width: 768px) {
  header div h1 {
    display: flex;
    justify-content: center; } }
@media (min-width: 768px) {
  header {
    padding-left: 60px; } }
/*----------------------------------------- end event styles -----------------------------------------------------*/
/*----------------------------------------- serach styles -----------------------------------------------------*/
body {
  background-color: gainsboro; }

.event-list {
  list-style: none;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px; }

.event-list > li {
  background-color: white;
  box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  padding: 0px;
  margin: 0px 0px 20px; }

.event-list > li > time {
  display: inline-block;
  width: 100%;
  color: white;
  background-color: black;
  border-right: 3px solid white;
  padding: 5px;
  text-align: center;
  text-transform: uppercase; }

.event-list > li:nth-child(even) > time {
  background-color: #a552a7; }

.event-list > li > time > span {
  display: none; }

.event-list > li > time > .day {
  display: block;
  font-size: 56pt;
  font-weight: 100;
  line-height: 1; }

.event-list > li time > .month {
  display: block;
  font-size: 24pt;
  font-weight: 900;
  line-height: 1; }

.event-list > li > img {
  width: 100%; }

.event-list > li > .info {
  padding-top: 5px;
  text-align: center; }

.event-list > li > .info > .title {
  font-size: 17pt;
  font-weight: 700;
  margin: 0px; }

.event-list > li > .info > .desc {
  font-size: 13pt;
  font-weight: 300;
  margin: 0px; }

.event-list > li > .info > ul,
.event-list > li > .social > ul {
  display: table;
  list-style: none;
  margin: 10px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center; }

.event-list > li > .social > ul {
  margin: 0px; }

.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
  display: table-cell;
  cursor: pointer;
  color: #1e1e1e;
  font-size: 11pt;
  font-weight: 300;
  padding: 3px 0px; }

.event-list > li > .info > ul > li > a {
  display: block;
  width: 100%;
  color: #1e1e1e;
  text-decoration: none; }

.event-list > li > .social > ul > li {
  padding: 0px; }

.event-list > li > .social > ul > li > a {
  padding: 3px 0px; }

.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
  color: #1e1e1e;
  background-color: #c8c8c8; }

.facebook a,
.twitter a,
.homepage a {
  display: block;
  width: 100%;
  color: #4b6ea8 !important; }

.twitter a {
  color: #4fd5f8 !important; }

.homepage a {
  color: #dd4b39 !important; }

.facebook:hover a {
  color: white !important;
  background-color: #4b6ea8 !important; }

.twitter:hover a {
  color: white !important;
  background-color: #4fd5f8 !important; }

.homepage:hover a {
  color: white !important;
  background-color: #dd4b39 !important; }

@media (min-width: 768px) {
  .event-list > li {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px; }

  .event-list > li > time,
  .event-list > li > img {
    display: inline-block; }

  .event-list > li > time,
  .event-list > li > img {
    width: 120px;
    float: left; }

  .event-list > li > .info {
    background-color: whitesmoke;
    overflow: hidden; }

  .event-list > li > time,
  .event-list > li > img {
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px; }

  .event-list > li > .info {
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 40px; }

  .event-list > li > .info > .title,
  .event-list > li > .info > .desc {
    padding: 0px 10px; }

  .event-list > li > .info > ul {
    position: absolute;
    left: 0px;
    bottom: 0px; }

  .event-list > li > .social {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 40px; }

  .event-list > li > .social > ul {
    border-left: 1px solid #e6e6e6; }

  .event-list > li > .social > ul > li {
    display: block;
    padding: 0px; }

  .event-list > li > .social > ul > li > a {
    display: block;
    width: 40px;
    padding: 10px 0px 9px; }

  div.info a {
    color: inherit;
    text-decoration: inherit; } }
/*----------------------------------------- end serach styles -----------------------------------------------------*/
/*----------------------------------------- start event styles -----------------------------------------------------*/
.info {
  margin: 10px 0;
  background-color: white; }

/*----------------------------------------- end event styles -----------------------------------------------------*/
