header{
	div{
		height: 120px;
		background-color: green;
	}
}

<<<<<<< HEAD
.search{
	height: 120px;
	margin-top: 80px;
	margin-bottom: 30px;
}
=======
.events{
	background-color: gray;
}
>>>>>>> 550ad12c62945ff158a929e62199c39b85a48425
