header{
	div{
		height: 120px;
		background-color: black;
		color: white;
	}
}

.search{
	height: 120px;
	margin-top: 80px;
	margin-bottom: 30px;
}

.events{
	background-color: black;
}

.footer {
	height: 150px;
	background-color: black;
	color: white;
}

body {
	background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}