header{
	div{
		height: 120px;
		background-color: green;
	}
}

.search{
	height: 120px;
	margin-top: 80px;
	margin-bottom: 30px;
}

.events{
	background-color: gray;
}

.footer {
	height: 150px;
	background-color: green;
	color: white;
}
