<div class="container">
    <div class="row" ng-controller="searchController">
        <div class="col-lg-10 col-md-offset-1 col-lg-offset-1 col-md-10 search">
            <form ng-submit="getKeyword()">
                <div class="input-group inputSearch">
                    <input ng-model="keyword" type="text" class="input-lg form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                                <button ng-click="getKeyword()" class="input-lg btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- @begin principal container -->
<div class="container">
    <!-- start of Daily -->
    <div class="events" ng-controller="dailyController">
        <div>
            <h1>Events of today...</h1>
        </div>
        <div class="container row eventBox">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="event in events">
                <div class="thumbnail" ng-href="#!/event/{{event.id}}">
                    <div class="imageContainer">
                        <img ng-style="{'background-image':'url({{event.images[4].url}})'}" style="width:100%">
                    </div>
                    <div class="caption">
                        <a ng-href="#!/event/{{event.id}}"><h3>{{event.name}}</h3></a>
                        <p class="desc">{{event._embedded.venues["0"].city.name}}</p>
                        <p class="desc">{{event._embedded.venues["0"].country.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of Daily -->
    <!-- start of Popular -->
    <div class="events" ng-controller="popularController">
        <div>
            <h1>Popular events...</h1>
        </div>
        <div class="container row eventBox">
            <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="event in events">
                <div class="thumbnail">
                    <div class="imageContainer">
                        <img ng-style="{'background-image':'url({{event.images[4].url}})'}" style="width: 100%">
                    </div>
                    <div class="caption">
                        <a ng-href="#!/event/{{event.id}}"><h3>{{event.name}}</h3></a>
                        <p class="desc">{{event._embedded.venues["0"].city.name}}</p>
                        <p class="desc">{{event._embedded.venues["0"].country.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- @end of Popular -->
</div>
<!-- @end principal container -->