<!-- <p>{{4+6}}</p> -->
<div class="container">
    <!-- Start of imgImportantInfo -->

    <!-- <div class="info container"> -->

    <div class="eventCardInfo container">
        <div class="row">
            <div class="imgEvent container col-xs-12 col-sm-6" >
                <img style="background-image:url({{event.images[9].url}})">
            </div>
            <div class="container col-xs-12 col-sm-6">
                <div class="row">
                    <div class="name col-xs-12">
                        <h1>{{event.name}}</h1>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 miniInfo">
                            <h4>Date:</h4>
                            <p>{{eventInformation[0].localDate}}</p>
                        </div>
                        <div class="col-xs-6 miniInfo">
                            <h4>Start Time:</h4>
                            <p>{{eventInformation[0].localTime}} h</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 miniInfo">
                            <h4>Sales:</h4>
                            <p><span>Opens: </span>{{eventInformation[0].salesStart}}</p>
                            <p><span>Closes: </span>{{eventInformation[0].salesEnd}}</p>
                        </div>
                        <div class="col-xs-6 miniInfo">
                            <h4>Adress:</h4>
                            <p>{{eventInformation[0].adrees}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 miniInfo">
                            <h4>Ticket Status:</h4>
                            <p>{{event.dates.status.code}}</p>
                        </div>
                        <div class="col-xs-6 miniInfo">
                            <h4>Prize Range:</h4>
                            <p>{{event.priceRanges["0"].min}}$ - {{event.priceRanges["0"].max}}$</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of imgImportantInfo -->
    <!-- Start of infoMap -->
    <div class="eventCardInfo container">
        <div class="row">
            <div class="container col-xs-12 col-sm-6">
            	<h2>General Info:</h2>
                <p>{{event.info}}</p>
                <h4 ng-if='event.accessibility.info'>Accessibility:</h4>
                <p>{{event.accessibility.info}}</p>
                <h4 ng-if='event._embedded.venues[0].boxOfficeInfo.openHoursDetail'>Box Office Info:</h4>
                <p>{{event._embedded.venues[0].boxOfficeInfo.openHoursDetail}}</p>
                <h4 ng-if='event.promoter.description'>Promoter:</h4>
                <p>{{event.promoter.description}}</p>
            </div>
            <div class="map container container col-xs-12 col-sm-6">
                <ng-map center="[{{latitude}}, {{longitude}}]">
                     <marker position= "{{latitude}}, {{longitude}}"></marker>
                </ng-map>
            </div>
        </div>
    </div>
    <!-- End of infoMap -->
</div>